body.index {
    margin:100px 100px; padding:0px;
    text-align:center;
background-image:url('img1.jpg');
background-color:#B8AF9E;
background-repeat:no-repeat;
background-size:65% 110%;
background-attachment:fixed;
background-position:center;
}

body.luck {
    margin:10% 0%; padding:0%;
    text-align:center;
background-image:url('luck.jpg');
background-color:#B8AF9E;
background-repeat:no-repeat;
background-size:65% 110%;
background-attachment:fixed;
background-position:center;

}

body.dont{
 margin:15% 0%; padding:0%;
    text-align:center;
background-image:url('dont.jpg');
background-color:#B8AF9E;
background-repeat:no-repeat;
background-size:65% 110%;
background-attachment:fixed;
background-position:center;
color: #F3E2A9;
}

.luck a:link {color:#F3F781;}      /* unvisited link */
.luck a:visited {color:#F3F781;}  /* visited link */
.luck a:hover {color:#F3F781;}  /* mouse over link */
.luck a:active {color:#F3F781;} 

body.go{
 margin:10% 0%; padding:0%;
    text-align:center;
background-image:url('go.jpg');
background-color:#B8AF9E;
background-repeat:no-repeat;
background-size:65% 110%;
background-attachment:fixed;
background-position:center;
}


